*.flow linguist-language=JavaScript
*.ml linguist-language=OCaml
codegen/flow/*.js linguist-detectable=false
codegen/flow-typed/*.js linguist-detectable=false
src/platform/Leemon.js linguist-detectable=false

codegen/src/caml.js linguist-detectable=false
codegen/src/tl.js linguist-detectable=false
